<%- include begin %>
<form class="form-horzontal" method="post">
	<fieldset>
		<legend>用户登录</legend>
		<div class="control-group">
			<label class="control-label" for="username">用户名</label>
			<div class="controls">
				<input type="text" name="username" id="username" class="input-xlarge">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">口令</label>
			<div class="controls">
				<input type="text" name="password" id="password" class="input-xlarge">
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">登录</button>
		</div>
	</fieldset>
</form>
<%- include end %>